:root {
    --main: #007BFF;
    --black: #181818;
    --gray: #555;
    --blue: #90CAF9;
    --hover-blue: #2196F3;
    --red: #EF9A9A;
    --hover-red: #EF5350;
    --green: #13CE66;
}
  
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    min-width: fit-content;
    min-height: fit-content;
}

body.light {
    background: #fff;
    background-position: -15px -15px;
    background-image: radial-gradient(#E2E2E2 1px, transparent 0);
    background-size: 20px 20px;
}

body.light::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body.light::-webkit-scrollbar-thumb {
    border-radius: 360px;
    background-color: #D3D3D3;
}

body.light::-webkit-scrollbar-thumb:hover {
    border-radius: 360px;
    background-color: #888;
}

body.light::-webkit-scrollbar-track {
    background-color: transparent !important
}

body.dark {
    background: #222;
    background-position: -15px -15px;
    background-image: radial-gradient(#333 1px, transparent 0);
    background-size: 20px 20px;
}

body.dark::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body.dark::-webkit-scrollbar-thumb {
    border-radius: 360px;
    background-color: #444;
}

body.dark::-webkit-scrollbar-thumb:hover {
    border-radius: 360px;
    background-color: #555;
}

body.dark::-webkit-scrollbar-track {
    background-color: transparent !important
}

#sidebar {
    width: 340px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -400px;
    margin: 0;
    padding-top: 20px;
    transition: all 300ms linear;
    z-index: 9999;
    font-size: 13px;
    overflow: auto;
}

#sidebar.active.light {
    left: 0px;
    background-color: #fff;
    box-shadow: 3px 0px 10px -1px #00000020;
}

#sidebar.active.light::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#sidebar.active.light::-webkit-scrollbar-thumb {
    border-radius: 360px;
    background-color: #D3D3D3;
}

#sidebar.active.light::-webkit-scrollbar-thumb:hover {
    border-radius: 360px;
    background-color: #888;
}

#sidebar.active.light::-webkit-scrollbar-track {
    background-color: transparent !important
}

#sidebar.active.dark {
    left: 0px;
    background-color: #1d1d1d;
}

#sidebar.active.dark::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#sidebar.active.dark::-webkit-scrollbar-thumb {
    border-radius: 360px;
    background-color: #444;
}

#sidebar.active.dark::-webkit-scrollbar-thumb:hover {
    border-radius: 360px;
    background-color: #555;
}

#sidebar.active.dark::-webkit-scrollbar-track {
    background-color: transparent !important
}

#sidebar ul {
    width: 100%;
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

#sidebar > ul > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 8px 8px 8px 0;
}

#sidebar.active.light > ul > li {
    border-bottom: 1px solid #e0e0e0;
    color: #1F2D3D;
}

#sidebar.active.dark > ul > li {
    border-bottom: 1px solid #2D2D2D;
    color: #888;
    filter: saturate(0.5);
}

#sidebar.active.light > ul > li:first-child {
    border-top: 1px solid #e0e0e0;
}

#sidebar.active.dark > ul > li:first-child {
    border-top: 1px solid #2D2D2D;
}

#sidebar li div li {
    border: none;
}

#sidebar li img {
    width: 100%;
    height: auto;
}

#close {
    width: fit-content;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#close.light {
    color: #888;
}

#close.dark {
    color: #333;
}

.buttons {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 20px;
    top: 20px;
    position: fixed;
    gap: 2px;
    z-index: 9999;
    padding: 4px;
    border-radius: 4px;
}

.buttons.light {
    border: 1px solid #E3e3e3;
    background-color: #f5f5f5;
}

.buttons.dark {
    border: 1px solid transparent;
    background-color: #3c3c3c;
}

#createNoteBtn, #sidebarBtn, #help {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.1s ease;
}

#createNoteBtn.light, #sidebarBtn.light, #help.light {
    stroke: #888;
    fill: none;
}

#createNoteBtn.dark, #sidebarBtn.dark, #help.dark {
    stroke: #666;
    fill: none;
}

#darkMode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.1s ease;
}

#darkMode.light {
    stroke: #888 !important;
    fill: #888 !important;
}

#darkMode.dark {
    stroke: #666;
    fill: #666;
}

#createNoteBtn.light:hover, #sidebarBtn.light:hover, #help.light:hover {
    stroke: #333;
}

#createNoteBtn.dark:hover, #sidebarBtn.dark:hover, #help.dark:hover {
    stroke: #AAA;
}

#darkMode.light:hover {
    stroke: #333 !important;
    fill: #333 !important;
}

#darkMode.dark:hover {
    stroke: #AAA !important;
    fill: #AAA !important;
}

#clearAllNotesBtn {
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease;
    border-radius: 4px;
    align-self: flex-start;
    margin-left: 10px;
}

#clearAllNotesBtn.light {
    stroke: #888;
    background-color: #f0f0f0;
    color: #888;
}

#clearAllNotesBtn.dark {
    stroke: #888;
    background-color: #333;
    color: #888;
}

#clearAllNotesBtn:hover {
    background-color: var(--hover-red);
    stroke: #ffffff;
    color: #ffffff;
}

#nothingHere.light {
    color: #111;
}

#nothingHere.dark {
    color: #888;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    position: absolute;
    z-index: 1;
    user-select: none;
}

.note.dark {
    filter: saturate(60%);
    backface-visibility: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px 5px;
    cursor: grab;
    color: #333;
}

.date-hour {
    width: fit-content;
    font-size: 10px;
    visibility: hidden;
}

.header:hover .date-hour {
    visibility: visible;
}

.note-icons {
    cursor: pointer;
    width: fit-content;
    font-size: 16px;
    visibility: hidden;
}

.header:hover .note-icons {
    visibility: visible;
}

.trash, .locate {
    cursor: pointer;
    width: 18px;
}

.icon-tabler-trash.light, .icon-tabler-map-pin.light {
    color: #AAA;
}

.icon-tabler-trash.dark, .icon-tabler-map-pin.dark {
    color: #555;
}

.trash:hover {
    color: var(--hover-red);
}

.locate:hover {
    color: var(--hover-blue);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    gap: 10px;
    color: #999;
}

.menu i {
    font-size: 12px;
    cursor: pointer;
}

.menu select {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #666;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
}

.editor {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
    min-width: 264px;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    resize: horizontal;
    color: #111;
}

.editor img {
    width: 100%;
    height: auto;
}

.editor a {
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay.active {
    visibility: visible;
}

.popup {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
    font-size: 15px;
}

#okPopup {
    width: fit-content;
    padding: 6px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--main);
    color: white;
}

.color-options {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.color-option {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
}

.color-option[data-color="default"] {
    background-color: #f9f9f9;
}

.color-option[data-color="red"] {
    background-color: #FFCDD2;
}

.color-option[data-color="pink"] {
    background-color: #F8BBD0;
}

.color-option[data-color="purple"] {
    background-color: #E1BEE7;
}

.color-option[data-color="deep-purple"] {
    background-color: #D1C4E9;
}

.color-option[data-color="indigo"] {
    background-color: #C5CAE9;
}

.color-option[data-color="blue"] {
    background-color: #BBDEFB;
}

.color-option[data-color="light-blue"] {
    background-color: #B3E5FC;
}

.color-option[data-color="cyan"] {
    background-color: #B2EBF2;
}

.color-option[data-color="teal"] {
    background-color: #B2DFDB;
}

.color-option[data-color="green"] {
    background-color: #C8E6C9;
}

.color-option[data-color="light-green"] {
    background-color: #DCEDC8;
}

.color-option[data-color="lime"] {
    background-color: #F0F4C3;
}

.color-option[data-color="yellow"] {
    background-color: #FFF9C4;
}

.color-option[data-color="amber"] {
    background-color: #FFECB3;
}

.color-option[data-color="orange"] {
    background-color: #FFE0B2;
}

.color-option[data-color="deep-orange"] {
    background-color: #FFCCBC;
}

.color-option[data-color="brown"] {
    background-color: #D7CCC8;
}

.color-option[data-color="grey"] {
    background-color: #F5F5F5;
}

.color-option[data-color="blue-grey"] {
    background-color: #CFD8DC;
}